.navbar-container {
    display: flex;
    height: 112px;
    background-color: var(--color-red);
    color: var(--color-text-light);
}

.navbar-inner-container {
    display: flex;
    margin: 0 auto;
    flex-basis: 1200px;

}

.navbar-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.navbar-logo img {
    align-items: center;
    height: 100px;
}

.navbar-upper-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3.1em;
    padding-inline: 2em;
    margin: auto;
    width: 100%;
    height: 50%;
}

.navbar-upper-container img {
    height: 40px;
}

.user-link {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: var(--color-white);
}

.navbar-lower-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 50%;
}

.navbar-lower-container-not-auth{
    justify-content: flex-end;
}

.navbar-lower-container-auth {
    justify-content: space-between;
}

.navbar-lower-container ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar-lower-container li {
    padding-inline: 1.5em;
}

.navbar-lower-container img {
    height: 40px;
}

.nav-links {
    font-family: 'Faster One', sans-serif;
    font-size: 1.5em;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-buttons button {
    background-color: var(--color-white);
    color: var(--color-red);
    font-size: 1.25em;
    margin-left: 1em;
    width: 106px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.nav-buttons button:hover {
    background-color: var(--color-red);
    color: var(--color-text-light);
    border: 3px solid var(--color-white);
}

.default-menu-link {
    text-decoration: none;
    color: var(--color-white);
    border-bottom: none;
}

.active-menu-link {
    text-decoration: none;
    color: var(--color-white);
    border-bottom: 4px solid var(--color-white);
}

.dropdown-button {
    font-family: 'Faster One', sans-serif;
    font-size: 1em;
    background-color: var(--color-red);
    color: var(--color-white);
    border: none;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    left: 15px;

    background-color: var(--color-red);
    padding-block: 1em;
    border-radius: 0 0 5px 5px;
    display: none;
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dropdown-menu:hover {
    display: block;
}