.table {
    width: 100%;
    border-collapse: collapse;
}

.table-drivers {

}

.table th {
    font-size: 1.75em;
    padding-block: 1em;
}

.table tr {
    height: 20px;
}

.table tr:nth-child(even) {
    background-color: var(--color-backround-table-blue);
}

.table td {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

img {
    height: 50px;
}